# ======================
# Konfiguracja aplikacji
# ======================

SECRET_KEY=twój-super-tajemniczy-klucz-zmieniaj-go-w-.env

# Połączenie z bazą PostgreSQL
DATABASE_URL=postgresql://postgres:admin123@localhost:5432/room_booking

# Tryb aplikacji
FLASK_ENV=development