# Środowisko wirtualne
venv/
.env

# Pliki cache Pythona
__pycache__/
*.pyc
*.pyo
*.pyd

# Pliki tymczasowe
.DS_Store
Thumbs.db

# Pliki IDE
.vscode/
.idea/

# Logi i bazy danych (opcjonalnie)
*.log
*.sqlite3

# Pliki wygenerowane
*.pdf